.container {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  padding: 20px;
  background-color: #f9f9f9;
}

.left-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 2px solid #ddd;
}

.right-panel {
  width: 60%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  overflow: auto;
}

.action-button {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

.input-box {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  display: block;
}
